*{
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.done-container{
  width: 70%;
  margin: 0 25px;
  min-height: 100px;
  height: fit-content;
  margin-top: 30px;
}
.cdk-drop-list{
  min-height: 100px;
  max-height: 100vh;
  height: auto;
  /* margin-top: 30px; */
  width: 100%;
  overflow: auto;
  
}
.cdk-drop-list::-webkit-scrollbar {
  display: none;
}
.todo-container{
  width: 25%;
  height: 100vh;
}

.detail-container{
  display: none !important;
  width: 250px;
  position: absolute;
  right: 0;
  z-index: 2;
}

h2 {
  display: flex;
  justify-content: center;
  align-self: center;
}

.list-container {
  flex-direction: row;
  justify-content: space-around;
  /* margin-top: 2em; */
  height: 100vh;
  width: 100%;
}

.column-container {
  /* width: 400px; */
  max-width: 100%;
  /* margin: 0 25px 25px 0; */
  display: inline-block;
  vertical-align: top;
  background-color: RGBA(255, 255, 255, 0.05);
}


mat-card {
  margin: 0.9em;
  cursor: pointer;
}

.list {
  border: RGBA(46, 49, 49, .7) solid 1px;
  border-radius: 2px;
}

.list-item {
  margin: 10px;
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

a {
  text-decoration: none;
  color: dodgerblue;
}

.preview {
  width: 100px;
  height: 100px;
  border: 1 px solid gray;
  border-radius: 5px;
  background-color: white;
  padding: 2px;
}

.preview input{
  width: 100%;
}
td{
  padding: 10px;
}
input{
  height: 30px;
  /* min-width: 250px; */
  border-radius: 3px;
  padding: 0 5px;
}

.grid-1{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
}
.grid-2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}
.grid-3{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}
.grid-4{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}
.grid-5{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
}
.grid-6{
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100%;
}
.grid-7{
  display: grid;
  grid-template-columns: 3fr 1fr;
  width: 100%;
}


.item{
  border: 2px dashed rgb(23, 86, 195);
  height: 250px;
}
.todo-container .list{
  display: flex;
  flex-wrap: wrap;
}
.component{
  /* display: inline-block; */
  width: 110px;
  height: 130px;
  padding: 5px !important;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.component .mat-card-header{
  width: 100%;
  display: block;
}

.component-icon svg{
  width: 40px;
}


.layout-container{
	display: grid;
  width: 100%;
	grid-template-columns: 1fr;
	row-gap: 20px;
	column-gap: 20px;
  padding: 20px;
}
.layout-container .layout{
	display: flex;
}
.layout-container .layout-6{
	display: grid;
	grid-template-columns: 1fr 3fr;
}
.layout-container .layout-7{
	display: grid;
	grid-template-columns: 3fr 1fr;
}
.section-item{
	width: 100%;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px dashed white;
}
.grid-section{
  background-color: #2e3131;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
}

section{
  position: relative;
}
.delete-btn{
  position: absolute;
  top: 0;
  right: -20px;
  display: none;
}
section:hover .delete-btn{
  display: block;
}